.feed__body{
  width:80%;
  display:grid;
  grid-template-areas: "sidebar main aside";
  grid-template-columns: minmax(0px, 5fr) minmax(0px, 12fr) minmax(300px, 7fr);
  margin: 35px auto;
  row-gap:  2.4rem;
  height:100%;
  column-gap:1.5rem;
}


/*Landing Page Styles*/

.sr-only{
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  overflow: hidden;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;

}
.landing__page{
  width: 100%;
}

.landing__nav{
 
  padding-left: 16px;
    padding-right: 16px;
  display:flex ;
  height:60px;
  align-items: center;
  justify-content:space-between;
}
.landing__brand{
  width: 84px;
  height:21px;
}

.landing__brand img{
  width: 100%;
  height:21px;
  object-fit: cover;
}
.nav__main__landing{
  flex: 1;
  display: flex;
  justify-content:flex-end;
  gap:15px;
  align-items:center;
}
.nav__main__landing >a{
  text-decoration: none;
}
.nav__main__landing > a:nth-child(1){
  background-color: rgba(0,0,0,0);
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  color: rgba(0,0,0,6);
  font-weight: 600;
  overflow: hidden;
  padding:0 8px;
  text-align: center;
  position: relative;
}
.nav__main__landing > a:nth-child(2){
  background-color: rgba(0,0,0,0);
  border: 1px solid #0073b1;
  border-radius: 65px;
  cursor: pointer;
  display: inline-block;
  color: #0073b1;
  font-weight: 600;
  overflow: hidden;
  padding:.5rem;
  text-align: center;
  position: relative;
}
.main__landing{
  display: flex;
  flex-direction:column;
  -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    align-items:center;
    overflow: hidden;
}
.section__hero{
  min-height: 700px;
    padding-bottom: 138px;
    padding-top: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
    max-width:1228px;
    position: relative;
}
.section__hero__with__form{
  width: 100%;
  background-color: #ccc;
}
.section__hero__with__form h1{
  font-size: 3.6rem;
  font-family: sans-serif;
  color: #2977c9;
  font-weight: 200;
  line-height: 70px;
  position:absolute;
  top: 10px;
  left: 0;
}

.lazy__loading{
  opacity: 1;
  transition: opacity 334ms cubic-bezier(0.4, 0, 0.2, 1);
}
.illustration__desktop{
z-index: -1;
width: 700px;
height:670px;
top: -10px;
right:-150px;
position:absolute;
}

.form__login{
  position:absolute;
  top: 215px;
  width: 408px;
}

.form__landing{
  width: 100%;
  display:flex;
  flex-direction:column;
  align-items: flex-start;
}
.alert__hiddden{
  width: 100%;
  height:15px;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  color: rgb(175, 0, 0);
  margin-bottom: 15px;
  font-weight: 600;
}
.form__main{
  width: 100%;
  display: flex;
  flex-direction:column;
  
}
.form__main .input{
  width: 100%;
  height:48px;
position: relative;
margin-bottom: 15px;
border: 1px solid #999;
border-radius:5px;

}
.form__main .input >label{
  font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
    top: 12px;
    left: 12px;
    cursor: pointer;
    position:absolute;
}
.form__main .input  input{
  width: 100%;
  height:100%;
  padding-left: 12px;
  cursor: pointer;
  background-color:transparent;
  border: 0;
  outline:0;
}


.forgot__password{
  display:flex;
  align-items:center;
  color: rgb(54, 54, 54);
  text-decoration: none;
  font-weight: 600;
}
.login__btn{
  width: 100%;
  background-color: #2977c9;
  color: #fff;
  font-weight: 600;
  border: 0;
  outline:0;
  border-radius:65px;
  font-size: 18px;
  line-height:48px;
  cursor: pointer;
  padding:0 32px;
  margin-top: 15px;
}
.login__btn:hover{
  background-color: #0359b6;
}
.auth__third__parties{
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-direction:column;
}
.auth__divider{
  width: 100%;
  height:25px;
  display: flex;
  align-items: center;
  justify-content:center;
}
.auth__divider span{
  display:inline-block;
  width: 90px;
  height:1px;
  background-color: #999;
  margin-left: 10px;
  margin-right: 10px;
}
.form__google__auth{
  width: 100%;
  height:50px;

}
.form__google__auth .btn__google__login{
  width: 100%;
  height:48px;
  background-color: rgb(255, 255, 255);
  border-radius:65px;
  display: flex;
  align-items: center;
  justify-content:center;
  font-size: 20px;
  color: rgb(75, 75, 75);
  border: 1px solid #000;
}
.btn__google__login img{
  width: 24px;
  height: 24px;
  margin-right: 10px;
}


/** Profile Page **/

.profile__body{
  width: 100%;
  margin-top: 25px;
}
.profile__body_wrapper{
  width: 85%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1.5rem;
  margin: 0 auto;
}

.profile__main{
  
  background-color: transparent;
}
.profile__main__header{
  width: 100%;
  border-radius: 10px;
  background-color:#fff;
  padding-bottom: 35px;
  border: 1px solid rgb(204, 204, 204);
}
.profile__header__cover{
  height: 196px;
  background-color: #262626;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}
.profile__header__cover > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.profile__header_avatar{
  width: 152px;
  height:152px;
  position:absolute;
  top: 115px;
  left: 25px;
  border-radius: 50%;
  border: 5px solid #fff;
}
.profile__header_avatar img{
  width: 100%;
  border-radius:inherit;
  height:100%;
  object-fit: cover;
}
.profile__header__body{
  width: 90%;
  margin: 10px auto;
  padding-top: 55px;
}
.pencil__btn{
  width: 35px;
  height:35px;
  background-color:#fff;
  border-radius:50%;
  display: flex;
  align-items: center;
  justify-content:center;
  position:absolute;
  right:15px;
  top: 15px;
  cursor: pointer;
}
.pencil__btn svg{
  fill: #0359b6;
}

.user__info{
  width:90%;
  display:flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 5px;
}
.user__info h3{
  margin-bottom: 0;
}
.talks__about{
width: 50%;
display: inline-block;
margin-bottom:5px;
color: #00000099;
}
.user__city{
  width: 75%;
  height:20px;
  display:flex;
  align-items:center;
  justify-content:flex-start;
  margin-bottom: 5px;
}
.user__city a{
  margin-left: 10px;
  color: #0073b1;
  text-decoration: none;
  font-weight: 600;
}

.user__foloowers__following {
  width: 75%;
  display: flex;
  align-items:center;
  justify-content:flex-start;
  margin-bottom: 5px;
}
.user__foloowers__following span:nth-child(1){
  margin-right: 10px;
}
.user__foloowers__following span a{
  text-decoration: none;
  color: #0073b1;
  font-weight: 600;
}
.profile__controls{
  width: 75%;
  display: flex;
  align-items:center;
  justify-content:flex-start;
  margin-top: 15px;
}
.profile__controls button{
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  border-radius:65px;
  height:35px;
  font-weight: 600;
  border: 1px solid #999;
  color: rgb(104, 104, 104);
  font-size: 16px;
  cursor: pointer;
  background-color:#fff;
  transition: all .2s ease-in-out;
}
.profile__controls button:hover{
  border: 1px inset #999;
  background-color: #b1b1b155;
}
.profile__controls button:nth-child(1){
  background-color: #0359b6;
  border: 0;
  color: #fff;
  margin-right: 10px;
}
.profile__controls button:nth-child(2){
  margin-right: 10px;
}
.edit__profile__panel{
  padding:12px;
  background-color:#fff;
  display: flex;
  flex-direction:column;
  border-radius:10px;
  border: 1px solid rgb(204, 204, 204);
}
.edit__profile__panel span{
  padding:1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.edit__profile__panel span:nth-child(1){
  border-bottom: 1px solid #999;
}
.edit__profile__panel span a{
  color: #999;
  text-decoration: none;
}

.user_dashboard{
  background-color: #dce6f1;
  border-radius:10px;
  border: 1px solid rgb(204, 204, 204);
  margin-top: 1.5rem;
  padding:24px;

}
.dashboard__header{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.title__wrapper{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
}
.title__wrapper h3,h2{
  margin: 0 !important;
}
.title__wrapper h2{
  color: #000000e6;
  font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 400;
}
.title__wrapper h3{
  
  color:#00000099;
    line-height: 1.75;
    font-weight: 400;
}
.all__star{
  display: flex;
  align-items:center;

}
.all__star li{
  list-style: none;
  display: flex;
  align-items: center;
}
.dashboard__cards{
  display: flex;
  align-items: flex-start;
  justify-content:space-between;
  margin-top: 15px;
}
.dashboard__card{
  flex: 1;
  padding-left:12px;
  padding-bottom: 12px;
  background-color:#fff;
  height:65px;
  display:flex;
  flex-direction:column;
  align-items: flex-start;
  padding-top: 12px;
  padding-right: 12px;
  gap:10px;
  cursor: pointer;
}
.dashboard__card:hover .card__title{
  text-decoration: underline;
}
.dashboard__card:hover .card__subtitle{
  text-decoration: underline;
}
.dashboard__card > span:nth-child(1){
  color: #0073b1;
  font-weight: 200 !important;
  font-size: 30px;
}
.dashboard__card > span:nth-child(2){
  color: #3f3f3f;
  font-weight: 600 !important;
  font-size: 14px;
}
.dashboard__card:nth-child(1){
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 1px solid rgb(214, 214, 214);
}
.dashboard__card:nth-child(3){
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 1px solid rgb(214, 214, 214);
}
.dashboard__cards__big{
  margin-top: 15px;
  border-radius: 10px;
}
.dashbaord__card__big{
  background-color:#fff;
  display: flex;
  align-items: flex-start;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
/* .dashbaord__card__big:hover{
  background-color: #acacac2a;
} */
.dashbaord__card__big:hover h4{
  text-decoration: underline;
}
.dashbaord__card__big:hover h5{
  text-decoration: underline;
}
.dashbaord__card__big:nth-child(1){
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.dashbaord__card__big:last-child{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.card__textual{
  display: flex;
  flex-direction:column;
  align-items:flex-start;
  margin-bottom: 1px solid #999;
  margin-left: 10px;
 
}

.card__textual h4,h5{
  margin: 0 !important;
}
.card__textual h5{
  font-weight: 400;
  color: #00000099;
}

.sign__up{
  width: 100%;
}
.join__form{
  max-width: 75%;
  margin: 35px auto;
  width: 75%;
}
.form__main__header{
  width: 100%;
}
.header__logo{
  background-color: transparent;
  display: flex;
  align-items:center;
  justify-content:center;
}
.header__logo svg{
  width: 135px;
}
.form__main__header h1{
  text-align: center;
  padding:24px 16px;
  font-size: 2.2rem;
  font-weight: 400;
}
.form__body{
  width: 400px;
  margin:  0 auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 24px;
}
.form__main__wrapper{
  display: flex;
  flex-direction:column;
  align-items: flex-start;
}
.form__main__wrapper label{
  font-size: 1rem;
  line-height: 1.42857;
  font-weight: 400;
  color: rgba(0,0,0,0.6);
  display: block;
}
.form__main__wrapper input{
  height: 32px;
  border: 1px solid rgba(0,0,0,0.6);
  border-bottom: 1px solid rgba(0,0,0,0.6);
  border-radius: 4px;
  width: 100%;
}
.form__join__aggrement{
  font-size: .8rem;
    line-height: 1.33333;
    font-weight: 400;
    color: rgba(0,0,0,0.6);
    margin: 16px 0 16px 0;
    text-align: center;
    width: 85%;
    display: block;
    margin:15px auto;
    
}
.form__join__aggrement a{
  color: #0073b1 !important;
  font-weight: 500;
  text-decoration: none !important;
}

.aggree__btn{
  width: 100%;
  height:48px;
  background-color:#0a66c2;
  border: 0;
  outline:0;
  color: #fff;
  font-weight: 600;
  border-radius:65px;
  cursor: pointer;
  font-size: 16px;
}
.aggree__btn:hover{
  background-color:#004992;
}
.third__part__auth__join{
  width: 100%;
  margin: 10px auto;
  display: flex;
  flex-direction:column;
  align-items: flex-start;
}
.divider__option{
width: 100%;
display: flex;
align-items: center;
justify-content:center;
font-size: 14px;
position: relative;
margin-bottom: 15px;
}
.divider__option::before{
  content:"";
  width: 50%;
  height:1px;
  background-color:#999;
}
.divider__option::after{
  content:"";
  width: 50%;
  height:1px;
  background-color:#999;
}
.third__part__auth__join button{
  width: 100%;
  height:48px;
  display: flex;
  align-items:center;
  justify-content:center;
  border: 2px solid #0a66c2;
  background-color: transparent;
  border-radius:65px;
  cursor: pointer;
color: #0359b6;
font-weight: 600;
font-size: 16px;

}
.third__part__auth__join button svg{
  margin-right: 10px;
}
.auth__switcher{
  display:flex;
  align-items:center;
  justify-content:center;
  margin-top: 25px;
}
.auth__switcher a{
  color: #004992 !important;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
}


/**onboarding**/
.onboarding{
  width: 100%;
  height:100vh;
  background-color: #fff;
}
.onboardingNav{
  width: 90%;
  height:55px;
  display:flex;
  align-items:center;
  margin:0 auto;
}
.onboardingNav a svg{
  fill: #0359b6;
}
.onboarding__body{
  width: 75%;
  margin: 25px auto;
}
.onboarding__header{
  display: flex;
  width: 55%;
  flex-direction:column;
  align-items: center;
  margin: 0 auto;
}
.jobtitle__header{
  display: flex;
  width: 60%;
  flex-direction:column;
  align-items: center;
  margin: 0 auto;
}
.jobtitle__header h1{
  font-size: 30px;
  font-weight: 500;
  line-height:1.4;
  text-align: center;
}
.onboarding__header h1,h2{
  margin: 0 !important;
}
.onboarding__header h1{
  font-size: 30px;
  font-weight: 500;
  line-height:1.4;
}
.onboarding__header h2{
  color: #999;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
}
.onboarding__section{
  width: 45%;
  margin: 25px auto;
}
.jobtitle__form__section{
 width: 45%;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}
.jobtitle__form__field{
  width: 100%;
  display: flex;
  flex-direction:column;
  position: relative;
}
.jobtitle__form__field label{
  color: #00000099;
  margin-bottom: 10px;
  margin-top: 10px;
}
.jobtitle__form__field input{
  height:32px;
  outline:0;
  padding-left: 15px;
}
.default__title{
  width: 100%;
  height:45px;
  margin-top: 25px;
}
.default__title button{
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 18px;
  border: 0;
  background-color:transparent;
  cursor: pointer;
  color: #999;
}
.default__title button:hover{
background-color:#c2c2c23f;
}
.continue__btn{
  margin-top: 25px;
  width: 100%;
  height: 50px;
  border: 0;
  background-color:#0359b6;
  cursor: pointer;
  color: #fff;
  border-radius:65px;
  font-size: 16px;
  font-weight: 600;
}
.job__seeker__section{
  width: 100%;
  margin: 0 auto;
}
.job__seeker__header{
  width: 45%;
  margin: 0 auto;
}
.job__seeker__header h1{
  font-size: 25px;
  text-align: center;
}
.job__seeker__header h2{
  font-size: 14px;
  text-align: center;
  color: #999;
  font-weight: 500;
}
.job__seeker__buttons{
  width: 100%;
  display: flex;
  flex-direction:column;
  align-items:center;
  margin-top: 25px;
}
.job__seeker__buttons button{
  width: 35%;
  height:55px;
  margin-bottom: 10px;
  border: 1px solid #004992;
  background-color: transparent;
  border-radius:65px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
}
.job__seeker__buttons button:hover{
  background-color:#0682ff4f;
}

.job_seletion{
  width: 65%;
  margin :0 auto;
}
.job_selection__header{
width: 100%;
margin :0 auto;
}
.job_selection__header h1{
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}
.job__selection__from{
  width: 45%;
  margin: 25px auto;
  display: flex;
  align-items:flex-start;
  flex-direction:column;
}
.job__selection__form__field{
  width: 100%;
  display: flex;
  flex-direction:column;
  align-items:flex-start;
  
}
.job__selection__form__field label{
  color: #00000099;
  margin-bottom: 10px;
  margin-top: 10px;
}
.job__selection__form__field input{
  width: 98%;
  height:32px;
}
.job__selection__from .next__btn{
  width:100%;
  margin: 25px auto;
  height:45px;
  border: 1px solid #999;
  background-color: #0359b6;
  border: 0;
  outline:0;
  color: #fff;
  font-weight: 600;
  font-size: 18px;

}
.onboarding__profile__form{
  width: 100%;
  display: flex;
  flex-direction:column;
  align-items:flex-start;
}
.onboarding__field{
  width: 100%;
  display: flex;
  flex-direction:column;
  position: relative;
}
.onboarding__field label{
  color: #00000099;
  margin-bottom: 10px;
  margin-top: 10px;
}
.onboarding__field input{
  height:32px;
  outline:0;
  padding-left: 15px;
}
.onboarding__profile__form button{
  width: 100%;
  height:48px;
  margin-top: 10px;
  background-color: #004992;
  outline:0;
  border: 0;
  color: #fff;
  font-weight: 600;
  font-size:18px;
  border-radius: 65px;
}
.country__dropdowns{
  width: 100%;
  display: flex;
  flex-direction:column;
  box-shadow: -1px -1px 10px rgba(0,0,0,0.115), 1px 1px 10px rgba(0,0,0,0.115);
  border-radius:5px;
  max-height:150px;
  overflow-y: scroll;
}
.country__dropdowns span{
  padding:10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
.country__dropdowns span:last-child{
  border: 0;
}

.country__dropdowns span:hover{
  background-color: rgba(204, 204, 204, 0.253);
}
@media screen and (max-width:1320px){
  .feed__body{
    width: 90%;
    display: block;
  }
}

@media (max-width: 1161px)
{
.illustration__mobile {
    display: none;
}


}

@media screen and (min-width:769px){
  .illustration__mobile {
    display: none;
}
.section__hero__with__form h1{
  width: 55%;
  }
}